@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins',
        sans-serif;
    background: white;
    color: white;

}

hr {
    color: white;
}

form {
    border-bottom: 1px solid #f9f7fe;
    margin-top: 40px;
    padding-bottom: 30px;
}

.form-control {

    color: #333;
    background: #ecf0f3;
    box-shadow: inset 10px 0px 19px 12px #d0d5db,
        9px 5px 17px 0px #fff;
    height: 50px;

    font-size: 22px;



}

.btn {
    font-size: 19px;

    border: none;
    padding: 15px 0;
    font-weight: 500;
    width: 50%;
    height: 50px;
    font-family: 'Poppins',
        sans-serif;

    margin-left: 5px;
    /* font-size: 16px; */
    background-color: #9f82e5;
    color: white;

    /* padding: 20px; */
    line-height: 1;
    border-radius: 5px;


}

.btn:hover {
    color: #fff;
    font-weight: 700;
    background-color: rgb(81, 38, 116);
}

.weather-info {
    text-align: center;
}

/*removed per new layout
.weather-day {
    font-size: 70px;

}
*/
.deg-header {
    font-size: 74px;
}

.fah-convert {
    font-size: 65px;
    font-weight: bold;
}

.cel-convert,
.revert-convert {
    font-size: 1px;
}

.head-img img {

    display: inline;
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 0px;

}

.row cols-lg-5 {
    text-align: center;
    font-size: 15px;
    padding: 30px;
    margin: 20px;

}

.weather-app {
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    max-width: 800px;
    background: linear-gradient(156deg, rgba(100, 95, 151, 1) 10%, rgba(235, 196, 191, 1) 48%, rgba(124, 152, 199, 1) 100%);
}

div.col {
    text-align: center;
    margin: 15px 15px 14px 0px;
    padding: 17px 19px 15px 0px;
    font-size: 22px;

}

div.col p {
    padding: 10px;
}

div.col-6 {
    width: 25%;
    margin-top: 30px;
}

.weather-values:hover {
    cursor: pointer;

}

div.container p {
    padding-top: 45px;
    font-size: 11px;
}

.default-c,
.cel-convert {
    font-size: 28px;
    position: relative;
    top: -38px;
}

.city-name {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.current-details {

    color: white;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;

}

p.current-details {


    line-height: 27px;
    padding: 0;
    display: block;

    text-align: left;
    letter-spacing: 3px;


    font-weight: 400;

    font-size: initial;
    margin-top: 16px;
    position: relative;
    top: 5px;
    left: 0px;


}

p.current-details strong {
    color: #d5d764;
}
footer{
    color: #333;
}